@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    font-family: 'Concert One', system-ui, sans-serif;
    font-size: 19px;
}

.bgio-client {
    width: 100%;
}